<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-header">
              <a class="navbar-brand" href="index.html">
                  
                   <img src="../assets/images/logo-inner-page.png" alt="homepage" class="dark-logo" />
                  
                  </a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div class="navbar-collapse">
              <!-- ============================================================== -->
              <!-- toggle and nav items -->
              <!-- ============================================================== -->
              <ul class="navbar-nav mr-auto mt-md-0">
                  <!-- This is  -->
                  <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                 
                  
              </ul>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <ul class="navbar-nav my-lg-0">
                  <!-- ============================================================== -->
                  <!-- Search -->
                  <!-- ============================================================== -->
                  <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                      <form class="app-search">
                          <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                  </li>
                  <!-- ============================================================== -->
                  <!-- Language -->
                  <!-- ============================================================== -->
                  
                  <!-- ============================================================== -->
                  <!-- Profile -->
                  <!-- ============================================================== -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                      <div class="dropdown-menu dropdown-menu-right scale-up">
                          <ul class="dropdown-user">
                              <li>
                                  <div class="dw-user-box">
                                      <div class="u-img"><img src="../assets/images/users/1.jpg" alt="user"></div>
                                      <div class="u-text">
                                          <h4>Sandeep</h4>
                                          <p class="text-muted">sandeep@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                  </div>
                              </li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                              <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                              <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
          <!-- User profile -->
          
          <!-- End User profile text-->
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
              <ul id="sidebarnav">
                  <li class="nav-devider"></li>
                  <li class="nav-small-cap">Admin Panel</li>
                  
                  <li> <a><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a> </li>
                 
                 
                
                                    
                 
                  
<li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">CREATE FORMS</span></a>
                      <ul aria-expanded="false" class="collapse">
                         
                          <li><a href="newid.html">Create NEW ID</a></li>
                          <li><a href="deposite.html">Deposit Points</a></li>
                          <li><a href="withdraw.html">Withdraw Points</a></li>
                          <li><a href="viewid.html">View ID</a></li>
                          <li><a href="allmatches.html">ALL Matches</a></li>
                      </ul>
                  </li>
                      </ul>                  
          </nav>
          <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Withdraw Points</h3>
          </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item">Create</li>
                  <li class="breadcrumb-item active">Withdraw Points</li>
              </ol>
          </div>
         
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
              <div class="col-md-6">
                  <div class="card card-body">
                      <h3 class="box-title m-b-0">Withdraw Points</h3>
                      <p class="text-muted m-b-30 font-13">Points</p>
                      <div class="row">
                          <div class="col-sm-12 col-xs-12">
                              <form #withdrawForm="ngForm">
                                  <div class="form-group">
                                      <label for="Userid">Select User ID</label>
                                      <input type="text" class="form-control" placeholder="User ID" autofocus=true [(ngModel)]="userid" name="userid" ngControl="userid" 
                                      id="#userid" required> 
                                  </div>
                                 
                                  
                                  <div class="form-group">
                                      <label for="deposite poins">Withdraw Points</label>
                                      <input type="number" class="form-control" placeholder="Deposite Points" [(ngModel)]="Balance" name="Balance" ngControl="Balance" 
                                      id="#Balance" required>
                                  </div>
                                  
                                  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="updateBalance(); withdrawForm.reset()" [disabled]="!withdrawForm.form.valid">Withdraw</button>
                                  <button  class="btn btn-inverse waves-effect waves-light" type="button" (click)="withdrawForm.reset()">Cancel</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
         
          <!-- vertical wizard -->
          
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
         
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer"> © 2018 All Rights Reserved </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->